#root {
    margin: 0;
    /* background: linear-gradient(90deg, #000 0%, #fff 120%); */
    /* background-color: #DCDCDC; */
    background-color: #0f0e17;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-wrap: break-word;
}