#root {
    margin: 0;
    /* background: linear-gradient(90deg, #000 0%, #fff 120%); */
    background-color: #72757e;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: Georgia, serif;
}