#App {
    background-color: #0f0e17;
}

.about-main-div {
    display: flex;
    /* background-color: #DCDCDC; */
    background-color: #0f0e17;
    height: 100vm;
}

.about-container-div {
    background-color: #0f0e17;
    margin-left: 50%;
    margin: auto;
    width: 75vh;
    color: #dcdcdc;
    margin-top: 3%;
    border-radius: 5px;
    padding: 15px;
    border-bottom: 2px solid #282828;
}

.about-links-div {
    display: flex;
    margin-top: 15%;
    align-items: center;
    width: 80vh;
}

.about-contactme {}

.about-labintro {
    margin-left: 11%;
}

/* .about-labintro:hover {
    cursor: pointer;
} */


.about-linkedin {
    margin-left: 11%;
}

.about-github {
    margin-left: 11%;
}

.about-firstparagraph {
    margin-top: 1%;
    color: #B8B8B8;
    font-size: 14px;
}

.about-secondparagraph {
    font-size: 14px;
}

.about-thirdparagraph {
    font-size: 14px;
}

.about-header-div {
    border-bottom: 2px solid #282828;
    padding-bottom: 10px;
}

.about-header {
    width: 60%;
}

.about-paragraph-div {
    background-color: #0f0e17;
    color: #B8B8B8;
    /* margin-top: 1%; */
    padding: 20px;
    /* box-shadow: rgba(14, 3, 3, 0.397) 0px 5px 15px; */
}