#App {
    background-color: #1a2332;
}


/* background-color: #1a2332;
lighter-bacgkround: #263143;
highlight-color: white;
text-color: #B8B8B8; */

.about-main-div {
    display: flex;
    /* background-color: #DCDCDC; */
    background-color: #1a2332;
    height: 100vm;
}

.about-container-div {
    background-color: #1a2332;
    margin-left: 50%;
    margin: auto;
    width: 75vh;
    color: #dcdcdc;
    margin-top: 3%;
    border-radius: 5px;
    padding: 15px;
    /* border-bottom: 2px solid white; */
}

.about-links-div {
    display: flex;
    margin-top: 15%;
    /* align-items: flex-start; */
    width: 100vh;
}

.about-contactme {
    margin-left: 2%;
}

.about-labintro {
    margin-left: 11%;
}

/* .about-labintro:hover {
    cursor: pointer;
} */


.about-linkedin {
    margin-left: 11%;
}

.about-github {
    margin-left: 11%;
}

.about-firstparagraph {
    margin-top: 1%;
    color: #B8B8B8;
    font-size: 14px;
}

.about-secondparagraph {
    font-size: 14px;
}

.about-thirdparagraph {
    font-size: 14px;
}

.about-header-div {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

.about-header {
    width: 60%;
}

.about-paragraph-div {
    background-color: #1a2332;
    color: #B8B8B8;
    /* margin-top: 1%; */
    padding: 20px;
    /* box-shadow: rgba(14, 3, 3, 0.397) 0px 5px 15px; */
}