.editguide-main-div {
    display: flex;
    background-color: #1a2332;
    /* margin-top: 2%; */
    /* margin: 0;
    padding: 0; */
    height: 100%;
    /* width: 100%; */
    /* background-size: cover; */
}


/* background-color: #1a2332;
lighter-bacgkround: #263143;
highlight-color: white;
text-color: #B8B8B8; */


.editguide-main-container {
    margin-left: 50%;
    margin: auto;
    background-color: #1a2332;
    width: 100vh;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 120px;
    border-radius: 1px;
    color: black;
    /* box-shadow: rgba(14, 3, 3, 0.397) 0px 5px 15px; */
    color: #B8B8B8;
    /* border-left: 2px solid #282828;
    border-right: 2px solid #282828; */
}

.editguide-title {
    color: #dcdcdc;
}

.editstep-outside-div {
    margin-top: 5%;
    border-top: 2px solid white;
    padding: 5px;
}

.editguide-step-div {
    padding: 10px;
    margin-top: 4%;
    /* border-top: 2px solid white; */
    /* box-shadow: black 1px 0px 10px; */
    border-radius: 3px;
    border-left: 5px solid white;
}

.editguide-step-element {
    /* margin-top: 1%; */
    padding-top: 0px;
    padding-left: 20px;
}



.newstep-div {
    margin-top: 5%;
    padding: 10px;
    display: flex;
}

#step-area {
    padding: 10px;
    margin-left: 50%;
    margin: auto;
    /* box-shadow: rgba(14, 3, 3, 0.397) 0px 10px 10px; */
    width: 100%;
    height: 35vmin;
    border-radius: 5px;
    /* border-bottom: 4px solid black;
    border-left: 8px solid black; */
    text-indent: 10px;
    resize: none;
}








.editguide-description-div {
    margin-top: 5%;
    padding: 10px;

}

.editguide-description-textarea {
    width: 100%;
    height: 35vmin;
    border-radius: 5px;
    /* border-bottom: 4px solid black;
    border-left: 8px solid black; */
    text-indent: 10px;
    background-color: #263143;
    color: #B8B8B8;
    padding: 10px;
    border-left: 5px solid #B8B8B8;
    resize: none;

}

.editguide-description-p {
    word-wrap: break-word;
}



.update-editstep-main-div {
    margin-top: 2%;
}

.step-input-area {
    background-color: #263143;
    color: #B8B8B8;
    padding: 10px;
    resize: none;
}

#editguide-step-textarea {
    margin-top: 4%;
    width: 100%;
    height: 35vmin;
    border-radius: 5px;
    text-indent: 10px;
    background-color: #263143;
    color: #B8B8B8;
    padding: 10px;
    border-left: 5px solid #B8B8B8;
    resize: none;
}




.renderEditBox-div {}


.publish-editguide-button-div {
    margin-top: 4%;
    display: flex;
}

/* ALL BUTTONS//////////////////////////////////////////////////////////// */
/* these are external buttons */
.edit-description-p {
    text-indent: 7px;
    margin-top: 3%;
    width: 17vh;
    background-color: #263143;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #263143;
}

.edit-description-p:hover {
    color: white;
    background-color: #1a2332;
    cursor: pointer;
    border: 1px solid white;
}

.editguide-p-button {
    margin-top: 3%;
    text-indent: 7px;
    width: 8vh;
    background-color: #263143;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #263143;
}

.editguide-p-button:hover {
    color: white;
    background-color: #1a2332;
    cursor: pointer;
    border: 1px solid white;
}

.editguide-addstep-p-button {
    width: 12vh;
    text-indent: 7px;
    background-color: #263143;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #263143;
    margin-right: 73%;
}

.editguide-addstep-p-button:hover {
    color: white;
    background-color: #1a2332;
    cursor: pointer;
    border: 1px solid white;
}

.editguide-publish-p-button {
    text-indent: 8px;
    width: 12vh;
    background-color: #263143;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #263143;
    color: #B8B8B8
}

.editguide-publish-p-button:hover {
    color: white;
    background-color: #1a2332;
    cursor: pointer;
    border: 1px solid white;
}

/* these are rendered buttons */


.editguide-description-update-p {
    margin-top: 1%;
    text-indent: 5px;
    width: 14vh;
    background-color: #263143;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #B8B8B8;
    color: #B8B8B8
}

.editguide-description-update-p:hover {
    color: white;
    background-color: #1a2332;
    cursor: pointer;
    border: 1px solid white;
}


.editguide-update-step-p {
    margin-top: 1%;
    text-indent: 6px;
    width: 13vh;
    background-color: #263143;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #B8B8B8;
    color: #B8B8B8
}

.editguide-update-step-p:hover {
    color: white;
    background-color: #1a2332;
    cursor: pointer;
    border: 1px solid white;
}


.editguide-newstep-button {
    margin-left: 1.3%;
    width: 13vh;
    background-color: #263143;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #B8B8B8;
    color: #B8B8B8
}

.editguide-newstep-button:hover {
    color: white;
    background-color: #1a2332;
    cursor: pointer;
    border: 1px solid white;
}