.editedHome-container-div {
    margin-top: 3.5%;
    margin-right: 5%;
    /* width: 500px; */
    display: flex;
}

.editedHome-main-div {
    /* margin-left: 50%;
    margin: auto; */
    /* min-width: 80vh; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    width: 55vmin;
    padding: 15px;
}

.editedhome-guide-div {
    /* border: 1px solid white; */
    border-top-right-radius: 30px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 30px;
    border: 1px solid #263143;
    transition: all 0.2s ease-in-out;
    margin: 2.5%;

}

.editedhome-guide-div:hover {
    transform: scale(105%);
    cursor: pointer;
    border: 1px solid white;
}

.editedhome-main-details-div {
    /* border-left: 2px solid #263143;
    border-right: 2px solid #263143;
    border-bottom: 2px solid #263143; */
    color: white;
    padding: 10px;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
    min-width: 2vh;
    max-width: 14vh;
}

.editedhome-main-details-div:hover {}

.editedhome-guidetitle {
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.editedhome-difficulty {
    font-size: 14px;
    color: #c0c0c0;
}

.editedhome-createdby {
    font-size: 14px;
    color: #c0c0c0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* images */

.editedhome-img-div-null {}

.editedhome-img-null {
    border-top-right-radius: 30px;
    border-top-left-radius: 2px;
    border-top: 1px solid #263143;
    border-left: 1px solid #263143;
    border-right: 1px solid #263143;
    max-width: 14vh;
    min-width: 14vh;

    max-height: 14vh;
    min-height: 14vh;
}

.editedhome-img-div {}

.editedhome-img {
    border-top-right-radius: 30px;
    border-top-left-radius: 2px;
    border-top: 1px solid #263143;
    border-left: 1px solid #263143;
    border-right: 1px solid #263143;
    border-bottom: 1px solid #263143;
    max-width: 14vh;
    min-width: 14vh;

    max-height: 14vh;
    min-height: 14vh;
}