.main-individual-blog-div{
    display: flex;
    background-color: #0f0e17;
    margin-top: 2%;
}

.main-blog-container1{
    margin-left: 50%;
    margin: auto;
    background-color: #0f0e17;
    width: 100vh;
    /* box-shadow: rgba(14, 3, 3, 0.397) 0px 5px 15px; */
    padding: 50px;
    border-radius: 10px;
    color: white;
    box-shadow: 5px 5px 0px 1px  #FFFFFF inset;
}

.date-guide{
    /* display: inline; */
    /* margin-left: 10%; */
    font-size: 12px;
}

.author-guide{
    /* display: inline; */
    /* margin-left: 10%; */
    font-size: 12px;
}

.step-div{
    background-color: white;
    padding: 5px;
    margin-top: 5%;
    font-size: 14px;
    color: black;
    border-radius: 10px;
}

.step-element{
    border-radius: 10px;
    padding: 10px;
}
