.main-blogs-div {
    background-color: #0f0e17;
    display: flex;
}

.center-me-div {
    background-color: #0f0e17;
    margin-left: 50%;
    margin: auto;
    margin-top: 1%;
    width: 88vh;
    word-wrap: break-word;
    border-left: 2px solid #282828;
    border-right: 2px solid #282828;
}

.middle-content-div {
    /* margin-top: .1%; */
}

.main-blog-div {
    display: flex;
    word-wrap: break-word;
}

.blog-container {
    background-color: #0f0e17;
    word-wrap: break-word;
}

.blog-div {
    font-size: 14px;
    margin: 2%;
    /* color: #dcdcdc; */
    width: 80vh;
    color: #B8B8B8;
    background-color: #0f0e17;
    padding: 3%;
    word-wrap: break-word;
    border-bottom: #282828 2px solid;
}

.blog-div:hover {
    cursor: pointer;
    background-color: #0f0e17;
    color: white;
}

.date-createdby-div {
    /* display: inline; */
}

.blog-difficulty-home {
    margin-left: 7%;
}

.hostedby-difficulty-div {
    display: flex;
}

.createdby-home {
    font-size: 12px;
    display: inline;
}

.date-home {
    display: inline;
    margin-left: 10%;
    font-size: 12px;
}

/* 
 background: #0f0e17
 headline: #fffffe
 paragraph: #a7a9be
 buttontext: #fffffe
button: #ff8906
*/


.error-on-blogs-header {
    color: white;
}

.blog-description-home-p {
    display: inline-block;
    word-break: break-word;
    margin-left: 2%;
}

.home-guide-title {
    color: #dcdcdc;
}