.main-blogs-div {
    /* margin-top: 5%; */
    /* background-color: #72757e; */
    background-color: #0f0e17;
    display: flex;
}

.center-me-div {
    /* background-color: #0f0e17; */
    /* display: flex; */
    /* background-color: white; */
    background-color: #0f0e17;
    margin-left: 50%;
    margin: auto;
    /* height: 100vmin; */
    width: 88vh;
    box-shadow: rgba(14, 3, 3, 0.397) 0px 5px 15px;
}

.middle-content-div {
    /* margin-top: .1%; */
}

.search-bar-div {
    background-color: #0f0e17;
    display: flex;

}

.search-bar {
    margin-left: 50%;
    margin: auto;
    width: 40%;
    border-radius: 30px;
    padding: 5px;
}

.main-blog-div {
    display: flex;
}

.blog-container {
    /* display: block; */
    background-color: #0f0e17;
    box-shadow: 5px 5px 0px 5px #FFFFFF inset;
}

.blog-div {
    font-size: 14px;
    margin: 2%;
    color: white;
    background-color: #0f0e17;
    box-shadow: 2px 2px 1px #FFFFFF;
    padding: 3%;
}




.date-createdby-div {
    /* display: inline; */
}

.createdby-home {
    font-size: 12px;
    display: inline;
}

.date-home {
    display: inline;
    margin-left: 10%;
    font-size: 12px;
}

/* 
 background: #0f0e17
 headline: #fffffe
 paragraph: #a7a9be
 buttontext: #fffffe
button: #ff8906
*/


.error-on-blogs-header {
    color: white;
}