.main-blogs-div {
    /* margin-top: 5%; */
    /* background-color: #72757e; */
    background-color: #DCDCDC;
    display: flex;
}

.center-me-div {
    /* background-color: #0f0e17; */
    /* display: flex; */
    /* background-color: white; */
    background-color: #DCDCDC;
    margin-left: 50%;
    margin: auto;
    margin-top: 1%;
    /* height: 100vmin; */
    width: 88vh;
    box-shadow: rgba(14, 3, 3, 0.397) 0px 5px 15px;
    word-wrap: break-word;
}

.middle-content-div {
    /* margin-top: .1%; */
}

.search-bar-div {
    background-color: #DCDCDC;
    display: flex;

}

.search-bar {
    margin-left: 50%;
    margin: auto;
    width: 40%;
    border-radius: 30px;
    padding: 5px;
}

.main-blog-div {
    display: flex;
    word-wrap: break-word;
}

.blog-container {
    /* display: block; */
    background-color: white;
    /* box-shadow: 5px 5px 0px 5px #DCDCDC inset; */
    box-shadow: rgba(14, 3, 3, 0.397) 0px 5px 15px;
    word-wrap: break-word;
}

.blog-div {
    font-size: 14px;
    margin: 2%;
    color: black;
    background-color: white;
    box-shadow: 2px 2px 1px #DCDCDC;
    padding: 3%;
    border-left: 8px solid black;
    border-bottom: 1px solid black;
    border-radius: 4px;
    box-shadow: rgba(14, 3, 3, 0.397) 0px 5px 15px;
    word-wrap: break-word;
}

.blog-div:hover {
    cursor: pointer;
    background-color: #0f0e17;
    color: white;
}

.date-createdby-div {
    /* display: inline; */
}

.blog-difficulty-home {
    margin-left: 7%;
}

.hostedby-difficulty-div {
    display: flex;
}

.createdby-home {
    font-size: 12px;
    display: inline;
}

.date-home {
    display: inline;
    margin-left: 10%;
    font-size: 12px;
}

/* 
 background: #0f0e17
 headline: #fffffe
 paragraph: #a7a9be
 buttontext: #fffffe
button: #ff8906
*/


.error-on-blogs-header {
    color: white;
}

.blog-description-home-p {
    display: inline-block;
word-break: break-word;
margin-left: 2%;
}

