.login-form {
    /* height: 100%; */
    width: 50vb;
    height: 40vb;
    margin: auto;
    background-color: #1a2332;
    padding: 10px;
    /* box-shadow: white 0px 5px 15px; */
    border-radius: 5px;
    /* border: 3px solid white; */
    box-shadow: black 1px 0px 10px;
}


.username-input-login-div {
    display: flex;
    margin-left: 19%;
}

.username-input-login {
    background-color: #263143;
    color: white;
    /* margin-top: 2%; */
    width: 80%;
    border-radius: 5px;
    padding: 5px;
    text-indent: 4%;
    box-shadow: white 2px 1px 1px;
}

.password-input-login-div {
    display: flex;
    margin-left: 19%;
}

.password-input-login {
    background-color: #263143;
    /* margin-top: 1%; */
    width: 80%;
    border-radius: 5px;
    color: white;
    padding: 5px;
    text-indent: 4%;
    box-shadow: white 2px 1px 1px;
}

.login-button {
    color: white;
    background-color: #263143;
    margin-top: 5%;
    margin-left: 19%;
    border-radius: 10px;
    font-size: 14px;
}

.signin-login-div {
    margin-top: 3%;
}

.signin-login-link {
    margin-left: 19%;
    font-size: 15px;
}


::placeholder {
    color: grey;
    opacity: 1;
}


.login-username-label-div {
    margin-top: 6%;
    color: white;
    display: flex;
}

.login-username-label {
    margin-left: 19.5%;
}

.login-password-label-div {
    margin-top: 4%;
    color: white;
    display: flex;
}

.login-password-label {
    margin-left: 19.5%;
}