.login-form {
    /* height: 100%; */
    width: 50vb;
    height: 40vb;
    margin: auto;
    background-color: #0f0e17;
    padding: 10px;
    /* box-shadow: white 0px 5px 15px; */
    border-radius: 5px;
    border: 3px solid #282828;
}

/*border color: #282828;
background-color: #0f0e17;
   highlight color: #dcdcdc; */
/* text color: #B8B8B8; */

.username-input-login-div {
    display: flex;
    margin-left: 19%;
    margin-top: 15%;
}

.username-input-login {
    background-color: #dcdcdc;
    color: #0f0e17;
    margin-top: 2%;
    width: 80%;
    border-radius: 5px;
    padding: 5px;
    text-indent: 4%;
    box-shadow: #282828 5px 5px 1px;
}

.password-input-login-div {
    display: flex;
    margin-left: 19%;
}

.password-input-login {
    background-color: #dcdcdc;
    margin-top: 7%;
    width: 80%;
    border-radius: 5px;
    color: #0f0e17;
    padding: 5px;
    text-indent: 4%;
    box-shadow: #282828 5px 5px 1px;
}

.login-button {
    color: white;
    background-color: #0f0e17;
    margin-top: 5%;
    margin-left: 19%;
    border-radius: 10px;
    font-size: 12px;
}

.signin-login-div {
    margin-top: 3%;
}

.signin-login-link {
    margin-left: 19%;
    font-size: 15px;
}