.login-form {
    /* height: 100%; */
    width: 50vb;
    height: 40vb;
    margin: auto;
    background-color: #263143;
    padding: 10px;
    /* box-shadow: white 0px 5px 15px; */
    border-radius: 5px;
    /* border: 3px solid white; */
    box-shadow: black 1px 0px 10px;
}


.username-input-login-div {
    display: flex;
    margin-left: 19%;
    margin-top: 15%;
}

.username-input-login {
    background-color: #263143;
    color: white;
    /* margin-top: 2%; */
    width: 80%;
    border-radius: 4px;
    padding: 5px;
    text-indent: 4%;
    box-shadow: black 2px 1px 1px;
    border-left: 5px solid white;
}

.password-input-login-div {
    display: flex;
    margin-left: 19%;
    margin-top: 4%;
}

.password-input-login {
    background-color: #263143;
    /* margin-top: 1%; */
    width: 80%;
    border-radius: 4px;
    color: white;
    padding: 5px;
    text-indent: 4%;
    box-shadow: black 2px 1px 1px;
    border-left: 5px solid white;
}

.login-button {
    margin-top: 4%;
    margin-left: 19.4%;
    text-indent: 5px;
    width: 14vh;
    background-color: #263143;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #B8B8B8;
    color: #B8B8B8
}

.login-button:hover {
    color: white;
    background-color: #1a2332;
    cursor: pointer;
    border: 1px solid white;
}

.signin-login-div {
    margin-top: 3%;
}

.signin-login-link {
    margin-left: 19%;
    font-size: 15px;
}


::placeholder {
    color: grey;
    opacity: 1;
}


.login-username-label-div {
    margin-top: 6%;
    color: white;
    display: flex;
}

.login-username-label {
    margin-left: 19.5%;
}

.login-password-label-div {
    margin-top: 4%;
    color: white;
    display: flex;
}

.login-password-label {
    margin-left: 19.5%;
}