.footer{
    background:#0f0e17;
    color: white;
    padding: 1em;
    margin-top: auto;
}
/* #37434b */
/* navbar */
#main_nav{
    background: #0f0e17;
}

#main_button{
    color: white;
}

#link_buttons{
    color: white;
}

#link_buttons:hover {
    color: black;
    background-color: white;
    border-radius: 15px;
}