/* .footer{
    background:#0f0e17;
    color: white;
    padding: 1em;
    margin-top: auto;
} */

.nav-container {
    /* text-align: center; */
    display: flex;
    background-color: #0f0e17;
    text-align: center;
    /* border-bottom: 1px solid #dcdcdc; */
}

.nav-branding-div {
    margin-left: 18%;
    display: flex;
    align-items: center;
}

/* .nav-branding {
    display: flex;
    text-align: center;
    color: white;
} */

.brand-text {
    /* margin: 5%; */
    color: white;
    font-size: 24px;
    display: inline;
}

.brand-text:link {
    text-decoration: none;
}

.brand-text:visited {
    text-decoration: none;
}

.brand-text:hover {
    text-decoration: none;
    color: grey;
}

.brand-text:active {
    text-decoration: none;
}

.nav-links-loggedin {
    display: flex;
    /* background-color: white; */
    padding: 10px;
    /* max-width: 45%;
    min-width: 10%; */
    /* background-color: white; */
    /* width: 10vmax; */
    width: 12%;
    margin-left: 33%;
    align-items: center;
}

.nav-links-loggedout {
    display: flex;
    /* background-color: white; */
    padding: 10px;
    /* max-width: 45%;
        min-width: 10%; */
    /* background-color: white; */
    /* width: 10vmax; */
    width: 12%;
    /* margin-left: 50%;
    margin: auto; */
    margin-left: 40%;
    align-items: center;
}

.nav-button {
    font-size: 16px;
    color: white;
    white-space: nowrap;
    margin-left: 5%;
    padding: 5px;
    border-radius: 5px;
}

.nav-button:link {
    text-decoration: none;
}

.nav-button:visited {
    text-decoration: none;
}

.nav-button:hover {
    color: grey;
    text-decoration: none;
}

.nav-button:active {
    background-color: white;
    text-decoration: none;
}