/* .footer{
    background:#0f0e17;
    color: white;
    padding: 1em;
    margin-top: auto;
} */

.nav-container-loggedin {
    /* margin-top: 1%; */
    padding-top: 7px;
    padding-bottom: 6px;
    display: flex;
    background-color: #263143;
    text-align: center;
    height: 5.3vh;
    /* box-shadow: black 5px 5px 5px; */
}

.nav-container-loggedout {
    /* margin-top: 1%; */
    padding-top: 5px;
    /* padding-bottom: 5px; */
    display: flex;
    background-color: #263143;
    text-align: center;
    height: 5.3vh;
}



.nav-branding-div {
    margin-left: 18%;
    display: flex;
    align-items: center;
}

.search-bar-div {
    background-color: #0f0e17;
    display: flex;
}

.navbar-div {
    margin-left: 60%;
}

.search-bar {
    width: 30vh;
    border-radius: 5px;
    padding: 5px;

}

.main-blog-div {
    display: flex;
    word-wrap: break-word;
}

.nav-branding {
    display: flex;
    text-align: center;
    color: white;
}

.brand-text {
    /* padding: 2px; */
    padding-bottom: 4px;
    color: white;
    font-size: 23px;
    display: inline;
    border-radius: 2px;
}

.brand-text:link {
    text-decoration: none;
}

.brand-text:visited {
    text-decoration: none;
}

.brand-text:hover {
    text-decoration: none;
    color: white;
    /* background-color: #1a2332; */
}

.brand-text:active {
    text-decoration: none;
}

.nav-links-loggedin {
    display: flex;
    width: 40vh;
    margin-left: 100%;
    align-items: center;
    /* margin-bottom: 1%; */
}

.nav-links-loggedout {
    display: flex;
    width: 40vh;
    align-items: center;
    margin-left: 50%;
}

.nav-button {
    font-size: 16px;
    color: white;
    white-space: nowrap;
    padding: 12px;
    border-radius: 3px;
    align-self: center;
    border-left: 1px solid #263143;
    border-right: 1px solid #263143;
    border-top: 1px solid #263143;
}

.nav-button:link {
    text-decoration: none;
}

.nav-button:visited {
    text-decoration: none;
}

.nav-button:hover {
    color: white;
    background-color: #1a2332;
    text-decoration: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
}

.nav-button:active {
    color: grey;
    text-decoration: none;
}

.ham_menu {

    margin-left: 50%;
    align-self: center;
}

.ham_menu:hover {
    cursor: pointer;
}

.this {
    margin-top: 2.2%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    position: absolute;
}

.nav-linked-main-container-loggedin {
    margin-left: 18%;
}




/* loggedin, inactive ham */
/* ///////////////////////////////////////////////////////////////////////////////// */
.nav-links-loggedin-linksoff {
    display: flex;
    align-items: center;
}

.there {
    display: flex;
    align-items: center;
    margin-left: 100%;
}

.must {
    display: flex;
    align-items: center;
    margin-left: 100%;
}

.be {
    display: flex;
    align-items: center;
    margin-left: 100%;
}

.a {
    display: flex;
    align-items: center;
    margin-left: 100%;
}

.better {
    display: flex;
    align-items: center;
    margin-left: 44%;
    margin-top: 2.2%;
    position: absolute;
}

.ham_menu-inactive {
    margin-left: 22%;
}

/* loggedout, activeHam */




/* logged in, and on home, and button is expanded */
/* 
.nav-container {
    display: flex;
    background-color: white
}

.nav-branding-div {
    border: 2px solid black;
}

.brand-text {
    padding: 10px;
}

.nav-loggedin-check-yes {
    display: flex;
    border: 2px solid black;
}

.navbar-everythingsuccess {
    display: flex;
    border: 2px solid black;
} */