.main-createpost-div {
    margin-top: 1%;
    display: flex;
    background-color: #0f0e17;
}

/* background-color: #0f0e17;
margin-left: 50%;
margin: auto;
margin-top: 1%;
width: 88vh;
word-wrap: break-word;
border-left: 2px solid #282828;
border-right: 2px solid #282828; */


/*border color: #282828;
background-color: #0f0e17;
   highlight color: #dcdcdc; */
/* text color: #B8B8B8; */
/* #dcdcdc */

.createPostform {
    margin-left: 50%;
    margin: auto;
    background-color: #0f0e17;
    padding: 12px;
    width: 80vh;
    display: flex;
    border-radius: 10px;
    color: #dcdcdc;
    border-right: 2px solid #282828;
    border-left: 2px solid #282828;
}

.header-title-div {
    /* margin-top: 1%; */
    /* display: flex; */
}

.header-title {
    /* margin-left: 50%;
    margin: auto; */
    margin-left: 9%;
    color: #dcdcdc;
    /* color: #dcdcdc; */
}

.form-div {
    /* margin-left: 50%;
    margin: auto; */
    margin-top: 5%;
    width: 100%;
    background-color: #0f0e17;
    /* box-shadow: 5px 5px 0px 1px #0f0e17 inset; */
    padding: 10px;
}

.main-input-div {
    margin-left: 50%;
    margin: auto;
}

.create-post-title-div {
    margin-top: 3%;
    padding: 20px;
    /* box-shadow: 8px 0.01px 0px #FFFFFF; */
    border-bottom: 2px solid #282828;
}

.create-post-title {
    text-indent: 5px;
    width: 90%;
    margin-left: 6%;
    padding: 5px;
    border-radius: 5px;
    border-left: 5px solid #dcdcdc;
    background-color: #0f0e17;
    color: #B8B8B8;
}

.create-post-hostedby-div {
    padding: 20px;
    margin-top: 1%;
    margin-bottom: 2%;
    /* box-shadow: 8px 0.09px 0px #FFFFFF; */
    display: flex;
    border-bottom: 2px solid #282828;
}

.host-title {
    width: 80%;
    text-indent: 5px;
    margin-left: 6%;
    padding: 5px;
    border-radius: 5px;
    color: #B8B8B8;
    background-color: #0f0e17;
    border-left: 5px solid #dcdcdc;
}

.postform-difficulty-select {
    text-overflow: ellipsis;
    margin-left: 1%;
    margin-right: 4%;
    width: 18%;
    text-indent: 6px;
    background-color: #0f0e17;
    color: #B8B8B8;
    border-radius: 5px;
}

.description-div {
    padding: 20px;
    margin-top: 1%;
    /* box-shadow: 8px 0.09px 0px #FFFFFF; */
    color: #dcdcdc;

}

.guide-form-description-box {
    margin-left: 6%;
    width: 90%;
    height: 40vmin;
    text-indent: 5px;
    padding: 10px;
    /* color: #dcdcdc; */
    color: #B8B8B8;
    border-radius: 4px;
    /* background-color: #181818; */
    background-color: #0f0e17;
    border-left: 5px solid #dcdcdc;
}

.post-form-button-div {
    display: flex;
    /* box-shadow: 5px 5px 0px 1px #FFFFFF; */
}

.post-form-button {
    margin-left: 83%;
    border-radius: 5px;
    background-color: #0f0e17;
    color: #A8A8A8;
}

.post-form-button:hover {
    background-color: #0f0e17;
    color: white;
}