.main-createpost-div {
    display: flex;
}

.createPostform {
    margin-left: 50%;
    margin: auto;
    background-color: #0f0e17;
    padding: 12px;
    width: 50%;
    display: flex;
}

.form-div {
    /* margin-left: 50%;
    margin: auto; */
    width: 100%;
    background-color: #0f0e17;
    box-shadow: 5px 5px 0px 1px  #FFFFFF inset;
    padding: 5px;
}

.main-input-div {
    margin-left: 50%;
    margin: auto;
}

.create-post-title-div {
    padding: 10px;
    box-shadow: 8px 0.01px 0px #FFFFFF;
}

.create-post-title {
    text-indent: 5px;
    width: 90%;
    margin-left: 7%;
    padding: 5px;
    border-radius: 8px;
}

.create-post-hostedby-div {
    padding: 10px;
    margin-top: 3%;
    box-shadow: 8px 0.09px 0px #FFFFFF;
}

.host-title {
    width: 90%;
    text-indent: 5px;
    margin-left: 7%;
    padding: 5px;
    border-radius: 8px;
}

.description-div {
    padding: 10px;
    margin-top: 4%;
    box-shadow: 8px 0.09px 0px #FFFFFF;
}

.description-box {
    margin-left: 7%;
    width: 90%;
    height: 50vmin;
    text-indent: 5px;
    padding: 5px;
    border-radius: 5px;
}

.post-form-button-div {
    margin-top: 4%;
    box-shadow: 5px 5px 0px 1px  #FFFFFF;
}

.post-form-button {
    margin-left: 9%;
}