.main-profile-div {
    background-color: #1a2332;
    display: flex;
    color: white;
}

/* background-color: #1a2332;
lighter-bacgkround: #263143;
highlight-color: white;
text-color: #B8B8B8; */

.main-profile-container {
    margin-left: 50%;
    margin: auto;
    background-color: #1a2332;
    width: 100vh;
    padding: 30px;
    border-radius: 5px;
    color: #B8B8B8;
    /* border-left: 2px solid #282828;
    border-right: 2px solid #282828; */
    /* box-shadow: rgba(14, 3, 3, 0.397) 0px 5px 15px; */
    margin-top: 2%;
}

.profile-title {
    color: #dcdcdc;
}

.profile-guide-main-div {
    /* border-top: 2px solid #282828; */
    margin-top: 2.5%;
}

.blog-profile-div {
    /* border-bottom: 3px solid black; */
    border-left: 5px solid #B8B8B8;
    /* box-shadow: rgba(14, 3, 3, 0.397) 0px 5px 15px; */
    /* display: flex; */
    margin: 10px;
    margin-top: 3%;
    display: absolute;
    border-radius: 5px;
}

.date-profile {
    font-size: 12px;
    margin-top: 3%;
    margin-left: 80%;
    /* align-self: center; */
    font-weight: bold;
    display: inline;
    /* position: relative; */
}

.title-date-div {
    border-bottom: 1px solid #1a2332;
    border-top: 1px solid #1a2332;
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #263143;
    border-radius: 5px;
}

.title-date-div:hover {
    cursor: pointer;
    border-bottom: 1px solid #B8B8B8;
    border-top: 1px solid #B8B8B8;
}

.guide-description-profile {
    font-size: 14px;
    margin-left: 10%;
    margin-top: 2%;
}

.vmtitle-profile {
    text-indent: 20px;
    margin-top: 1%;
    position: absolute;
    color: #dcdcdc;

}

.profile-listed-guides {
    border-top: 2px solid white;
}

.profile-paragraph {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 10%;
    font-size: 14px;
}

.profile-no-guides-created-div {
    margin-top: 2.5%;
}

.profile-no-guides-p {
    font-size: 14px;
    margin-left: 5%;
    margin-right: 10%;
}


.dev-approval-guides-div {
    margin-top: 10%;
}

.vmtitle-profile-unapproved {
    text-indent: 20px;
    margin-top: 1%;
    position: absolute;
    color: #dcdcdc;
}

.date-profile-unapproved {
    font-size: 12px;
    margin-top: 2.8%;
    margin-left: 59%;
    /* align-self: center; */
    font-weight: bold;
    display: inline;
}

.profile-approve-button {
    text-indent: 5px;
    margin-top: 1.4%;
    margin-left: 5%;
    width: 10vh;
    height: 4vh;
    background-color: #263143;
    padding: 2px;
    border-radius: 5px;
    word-wrap: break-word;
    border: 1px solid #B8B8B8;
    color: #B8B8B8
}

.profile-approve-button:hover {
    color: white;
    background-color: #1a2332;
    cursor: pointer;
    border: 1px solid white;
}

.profile-reject-button {
    text-indent: 3px;
    margin-top: 1.4%;
    width: 10vh;
    height: 4vh;
    background-color: darkred;
    padding: 2px;
    border-radius: 5px;
    word-wrap: break-word;
    border: 1px solid #B8B8B8;
    color: #B8B8B8
}

.profile-reject-button:hover {
    color: white;
    background-color: red;
    cursor: pointer;
    border: 1px solid white;
}




/* .edit-description-p {
    text-indent: 7px;
    margin-top: 3%;
    width: 17vh;
    background-color: #263143;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #263143;
    word-wrap: break-word;
}

.edit-description-p:hover {
    color: white;
    background-color: #1a2332;
    cursor: pointer;
    border: 1px solid white;
} */