.main-form-div {
    display: flex;
    margin-top: 10%;
    height: 40vmin;

}

/* background-color: #1a2332;
lighter-bacgkround: #263143;
highlight-color: white;
text-color: #B8B8B8; */

.register-form {
    /* width: 55vb;
    height: 40vb;
    margin: auto;
    background-color: #0f0e17;
    padding: 10px;
    border: 3px solid #282828;
    border-radius: 5px; */

    width: 50vb;
    height: 40vb;
    margin: auto;
    background-color: #263143;
    padding: 10px;
    /* box-shadow: white 0px 5px 15px; */
    border-radius: 5px;
    /* border: 3px solid white; */
    box-shadow: black 1px 0px 10px;
}

.username-input-register-div {
    display: flex;
    margin-left: 19%;
    margin-top: 15%;
}

.username-input-register {
    background-color: #263143;
    color: white;
    width: 80%;
    border-radius: 4px;
    padding: 5px;
    text-indent: 4%;
    border-left: 5px solid white;
}

.password-input-register-div {
    margin-top: 4%;
    display: flex;
    margin-left: 19%;
}

.password-input-register {
    background-color: #263143;
    color: white;
    width: 80%;
    border-radius: 4px;
    padding: 5px;
    text-indent: 4%;
    border-left: 5px solid white;
    /* border */
}




.signin-div {
    margin-top: 4.5%;
}

.signin-link {
    margin-left: 19%;
    font-size: 14px;
}


.register-username-label-div {
    margin-top: 6%;
    color: white;
    display: flex;
}

.register-username-label {
    margin-left: 19.5%;
}

.register-password-label-div {
    margin-top: 4%;
    color: white;
    display: flex;
}

.register-password-label {
    margin-left: 19.5%;
}


/* .post-form-button-p {
    margin-left: 81%;
    width: 11vh;
    background-color: #263143;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #B8B8B8;
    color: #B8B8B8
}

.post-form-button-p:hover {
    color: white;
    background-color: #1a2332;
    cursor: pointer;
    border: 1px solid white;
} */

.register-button-div {
    display: flex;
    margin-top: 5%;
}

.register-button {
    margin-left: 19%;
    text-indent: 3px;
    width: 15vh;
    background-color: #263143;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #B8B8B8;
    color: #B8B8B8
}

.register-button:hover {
    color: white;
    background-color: #1a2332;
    cursor: pointer;
    border: 1px solid white;
}